In [ ]:
#Lists are ordered, mutable, and allow duplicate elements, allow heterogeneous data types.
fruits = ["apple", "banana", "cherry", "date", 10, 15.5, True]

In [ ]:
#list operations
# indexing
print(fruits[0])        
print(fruits[-1])      
# slicing
print(fruits[1:4])      
# appending
fruits.append("elderberry")
print(fruits)
# removing
fruits.remove("banana")
print(fruits)

apple
True
['banana', 'cherry', 'date']
['apple', 'banana', 'cherry', 'date', 10, 15.5, True, 'elderberry']
['apple', 'cherry', 'date', 10, 15.5, True, 'elderberry']

In [ ]:
fruits = ["apple", "orange","banana", 1 , 5.5]

name = "John"
print(name[0])

J

In [ ]:
#tuples are ordered, immutable, and allow duplicate elements, allow heterogeneous data types.
coordinates = (10, 20, 30, "A", "B", "C")
#tuple operations
# indexing
print(coordinates[1])    # Output: 20
# slicing
print(coordinates[2:5])  # Output: (30, 'A', 'B')
# counting occurrences
print(coordinates.count("A"))  # Output: 1
# finding index
print(coordinates.index(30))    # Output: 2

20
(30, 'A', 'B')
1
2

In [ ]:
#sets are unordered, mutable, and do not allow duplicate elements, allow heterogeneous data types.
unique_numbers = {1, 2, 3, 4, 5, 3, 2, 1}
# set operations
# adding elements
unique_numbers.add(6)
print(unique_numbers)        # Output: {1, 2, 3, 4, 5, 6}

In [1]:
print([5,6,7]+[8,9,10])

[5, 6, 7, 8, 9, 10]

In [7]:
l1 = [1,2,3]
l2 = [4,5,6]
ziped = zip(l1,l2)
sum= [ num1+num2 for num1, num2 in zip(l1, l2) ]
print(sum)

[5, 7, 9]

In [8]:
# 1. Non-parameterized function without return
def greet():
    print("Hello, World!")

greet()  # Output: Hello, World!

Hello, World!

In [ ]:
# 2. Non-parameterized function with return
def get_pi():
    return 3.14159
result = get_pi()
print(f"Pi value: {result}")

#return statements = keywords or instructions send python values/objects back to the caller.

Pi value: 3.14159

In [ ]:
# 3. Parameterized function without return
def greet_person(name, age):
    print(f"Hello, {name}! You are {age} years old.")

greet_person("Alice", 25)  # Output: Hello, Alice! You are 25 years old.
greet_person("Bob", 30)    # Output: Hello, Bob! You are 30 years old.

In [ ]:
# 4. Parameterized function with return
def add_numbers(a, b):
    return a + b

sum_result = add_numbers(10, 20)
print(f"Sum: {sum_result}")  # Output: Sum: 30

def calculate_area(length, width):
    area = length * width
    return area

rectangle_area = calculate_area(5, 8)
print(f"Area: {rectangle_area}")  # Output: Area: 40

In [ ]:
# Summary comparison
print("=" * 50)
print("FUNCTION TYPES COMPARISON")
print("=" * 50)

# Non-parameterized without return - just performs an action
def type1():
    print("Type 1: No parameters, no return")
type1()

# Non-parameterized with return - returns a fixed value
def type2():
    return "Type 2: No parameters, has return"
print(type2())

# Parameterized without return - performs action based on input
def type3(x):
    print(f"Type 3: Has parameters ({x}), no return")
type3(100)

# Parameterized with return - processes input and returns result
def type4(x, y):
    return f"Type 4: Has parameters ({x}, {y}), has return: {x * y}"
print(type4(5, 7))

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i*j}") 
    print()

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

In [4]:
for i in range(1, 11):
    for j in range(i, 11):
        print(f"{i} * {j} = {i*j}") 
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 9 = 81
9 * 10 = 90

10 * 10 = 100

In [2]:
import math
result = math.factorial(5) 
print(result)

120

In [3]:
def find_factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Usage:
print(find_factorial(5)) # Output: 120

120

In [5]:
nums = [3, 15, 7, 22, 9, 30]
count = 0
for x in nums:
    if x > 10:
        count += 1
print(count)

3

In [7]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(factorial(5))

120

In [8]:
def fibonacci(n):
    if n <= 0:
        return "Please enter a positive integer"
    
    a, b = 0, 1
    series = []

    for _ in range(n):
        series.append(a)
        a, b = b, a + b

    return series
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [10]:
import math
math.factorial(5)

120